<main class="main">
    <div class="content">
        <navigationbar></navigationbar>
        <section class="content-section">
            <header class="main-head">
                <h3>Learn Graphics</h3>
                <span class="design-for-life">
                    <h3> Design for Life</h3>
                    <div class="icon-circle">
                        <img src="../../../assets/images/Icon.png" alt="Design Icon" class="icon-image">
                    </div>
                </span>
            </header>
            <p class="sub-head">
                <span>Stay Informed, Stay Ahead: Unveiling the Future of Technology, Gadgets, and Innovation.</span>
                <span>Your Gateway to the Digital Universe - Where Innovation Meets Insight.</span>
            </p>
        </section>
        <section class="review">
            <div class="review-count">
                <span class="count">5.1k</span>
                <span class="text">Students All Over World</span>
            </div>
            <div class="students">
                <img src="../../../assets/images/Ellipse 1.png" alt="Student 1" class="students-image">
                <img src="../../../assets/images/Ellipse 2.png" alt="Student 2" class="students-image">
                <img src="../../../assets/images/Ellipse 3.png" alt="Student 3" class="students-image">
            </div>
        </section>
        <section class="book-container">
            <button type="submit" class="pill-btn" aria-label="Book Your Seat Now">Book Your Seat</button>
            <div class="play">
                <img src="../../../assets/images/music.png" alt="Play Music" class="music">
                <span>See Journey</span>
            </div>
        </section>
    </div>
    <footer class="footer-desk">
        <div class="footer-content">
            <div class="footer-column">
                <div class="count">6,409</div>
                <div class="text">Success Stories</div>
            </div>
            <div class="footer-column">
                <div class="count">124</div>
                <div class="text">Expert Instructors</div>
            </div>
            <div class="footer-column">
                <div class="count">54,749</div>
                <div class="text">Hours Tutored</div>
            </div>
        </div>
    </footer>
    <section class="portfolio">
        <div class="image-row">
            <img src="../../../assets/images/Image.png" alt="Portfolio Image 1" class="image">
            <img src="../../../assets/images/2.png" alt="Portfolio Image 2" class="image">
        </div>
        <div class="image-row">
            <img src="../../../assets/images/3.png" alt="Portfolio Image 3" class="image">
            <img src="../../../assets/images/4.png" alt="Portfolio Image 4" class="image">
        </div>
        <div class="image-row">
            <img src="../../../assets/images/5.png" alt="Portfolio Image 5" class="image">
            <img src="../../../assets/images/6.png" alt="Portfolio Image 6" class="image">
        </div>
    </section>
    <footer class="footer-mob">
        <div class="footer-content">
            <div class="footer-column">
                <div class="count">6,409</div>
                <div class="text">Success Stories</div>
            </div>
            <div class="footer-column">
                <div class="count">124</div>
                <div class="text">Expert Instructors</div>
            </div>
            <div class="footer-column">
                <div class="count">54,749</div>
                <div class="text">Hours Tutored</div>
            </div>
        </div>
    </footer>
</main>