// colors
$primary_color: #187477;
$secondary_color: #C3996B;
$success_color: #60a905;
$error_color: #e03333;
$black: black;
$white: white;
$bordercolor: grey;

// Breakpoints for responsive design
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Gutter (spacing) variables
$gutter-width: 1rem;